@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
.container {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Nav Bar  */
#nav-bar {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: 1;
	background: #2F7AE5;
    font-weight: bold;
}
.nav-bar {
	background: #2F7AE5;
	left: 0;
	top: 0;
	padding: 1rem 5rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-bar .brand img {
	width: 50px;
}
.nav-bar .nav-list {
	display: flex;
	justify-content: space-between;
}
.nav-bar .nav-list .hamburger {
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 70px;
	transition: .3s ease transform;
	cursor: pointer;
}
.nav-bar .nav-list .hamburger.active {
	transform: rotate(360deg);
}
.nav-bar .nav-list .hamburger.active .bar:before {
	top: 0;
	transform: rotate(45deg);
}
.nav-bar .nav-list .hamburger.active .bar:after {
	top: 0;
	transform: rotate(-45deg);
}
.nav-bar .nav-list .hamburger.active .bar {
	background-color: transparent;
}
.nav-bar .nav-list .hamburger .bar {
	height: 2px;
	width: 30px;
	background-color: white;
	position: relative;
	display: flex;
}
.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	transition: .3s ease all;
}
.nav-bar .nav-list .hamburger .bar::before {
	top: 8px;
}
.nav-bar .nav-list .hamburger .bar::after {
	bottom: 8px;
}
.nav-bar .nav-list ul {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #4169e1;
	transform: translateY(-100%);
	transition: .3s ease transform;
}
.nav-bar .nav-list ul li {
	list-style: none;
	display: block;
	position: relative;
}
.nav-bar .nav-list ul li:hover:after {
	transform: translateX(-50%) scale(1);
}
.nav-bar .nav-list ul li:after { 
	content: '';
	position: absolute;
	width: 5rem;
	height: .2rem;
	background-color: white;
	left: 50%;
	transform: translateX(-50%) scale(0);
	bottom: 0;
	transition: .3s ease transform;
}
.nav-bar .nav-list ul li a {
	font-size: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	display: block;
	letter-spacing: .1rem;
	padding: 2rem 3rem;
}
.nav-bar .nav-list.open ul {
	transform: translateY(90px);
}
/* End Nav Bar */

/* Hero Section */
.hero {
	min-height: 100vh;
	width: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	/* Fade in animation */
	animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}
.hero .hero-info {
	font-size: 6rem;
	width: 100%;
	align-items: center;
}
.hero .hero-info .hero-info-heading {
	margin-left: 5%;
	font-size: 4.5rem;
	font-weight: 600;
	text-align:start;
	color: #2F7AE5;
}
.hero .hero-info .hero-info-subheading {
	margin-top: 5%;
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	color: white;
	font-weight: 900;
}
.hero .hero-info .hero-info-button {
	margin-top: 30px;
	padding: 2rem 5rem;
	display: inline-block;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	letter-spacing: .6rem;
	background-color: #4169e1;
}

  /* About Section  */
.about {
	width: 100%;
	min-height: 80vh;
	padding: 4rem 2rem;
	flex-direction: column;
	background-color: #2F7AE5;
}
.about .about-info {
	text-align: center;
}
.about .about-info .about-info-heading {
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	color: white;
}
.about .about-info .about-info-desc {
	font-size: 1.5rem;
	line-height: 2rem;
	margin-top: 3%;
	word-spacing: 0.15rem;
	line-height: 2.5rem;
	color: white;
}
.about .about-img {
	margin-top: 5%;
	display: block;
}
.about .about-img .about-img-wrapper {
	margin-top: 50px;
	height: auto;
	max-width: 400px;
	position: relative;
	display: inline-block;
}
.about .about-img .about-img-wrapper img {
	height: 100%;
	width: 100%;
}
.about .about-img .about-img-wrapper::after {
	position: absolute;
	content: '';
	right: -5rem;
	top: 50%;
	transform: translateY(-50%);
	width: 70%;
	height: 120%;
	background-color: rgba(34, 33, 33, 0.158);
	z-index: -1;
}
/* End About Section  */

/* projects section  */
.projects {
	flex-direction: column;
	min-height: 60vh;
	padding: 10rem 5rem;
	background-color: #2F7AE5;
}
.projects .projects-header {
	width: 100%;
	text-align: center;
}
.projects .projects-header .projects-header-heading {
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgb(255, 255, 255);
}
.projects .projects-header .projects-header-desc {
	font-size: 1.5rem;
	line-height: 2rem;
	margin-top: 20px;
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.projects .projects-info {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
}
.projects .projects-info .project {
	width: 100%;
	min-height: 300px;
	position: relative;
	margin: 5px;
}
.project-button{
	background-color: #2F7AE5;
	border: none;
	text-decoration: none;
	margin-top: 10%;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 10px 20px;
}
.projects .projects-info .project .project-card {
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
}
.projects .projects-info .project .project-card .project-front {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.801);
	padding: 10px;
}
.projects .projects-info .project .project-card .project-front i {
	font-size: 4rem;
	margin-bottom: 10px;
}
.projects .projects-info .project .project-card .project-front .project-front-heading{
	font-size: 2.5rem;
	text-transform: capitalize;
}


.projects .projects-info .project:nth-child(1) .project-card .project-front {
    background-image: url(../images/project-game.png);
    background-size: cover;
	background-position: center;
	color: white;
}
.projects .projects-info .project:nth-child(2) .project-card .project-front {
	background-image: url(../images/project-library.png);
	background-size: cover;
	background-position: center;
	color: white;
}
.projects .projects-info .project:nth-child(3) .project-card .project-front {
	background-image: url(../images/project-website.png);
	background-size: cover;
	background-position: center;
	color: white;
}


/* End projects section  */

/* Footer section  */
.footer {
	min-height: 20vh;
	width: 100%;
	background-color: #4e4c4c;
	color: white;
	flex-direction: column;
	text-align: center;
	padding: 5rem;
}
.footer .footer-contact {
	padding: 20px;
}
.footer .footer-contact .footer-contact-heading {
	font-size: 2.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.footer .footer-contact .footer-contact-info {
	font-size: 1.4rem;
	padding-top: 10px;
	letter-spacing: .2rem;
}
.footer .footer-social-follow .footer-social-icon a {
	color: white;
	font-size: 3rem;
	margin: .4rem;
	display: inline-block;
}
  /* Fade in animation */ 
  @keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  /*End of Fade in animation */
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
	.leftcolumn {   
	  width: 100%;
	  padding: 0;
	}
  }

  @media only screen and (min-width: 1125px) {
	.nav-bar .nav-list .hamburger {
		display: none;
	}
	.nav-bar {
		width: 90%;
	}
	.nav-bar .nav-list ul {
		transform: translateX(0);
		position: initial;
		padding: 0;
		z-index: initial;
		background-color: transparent;
	}
	.nav-bar .nav-list ul li {
		display: inline-block;
	}

/* Media query for desktop and tab  */
@media only screen and (min-width: 768px) {
	/*.nav-bar .nav-list .hamburger {
		display: none;
	}
	.nav-bar {
		width: 90%;
	}
	.nav-bar .nav-list ul {
		transform: translateX(0);
		position: initial;
		padding: 0;
		z-index: initial;
		background-color: transparent;
	}
	.nav-bar .nav-list ul li {
		display: inline-block;
	} */
	.hero {
		height: 100vh;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.hero .hero-info {
        text-align: center;
	}
	.hero .hero-info .hero-info-subheading {
		font-size: 1.1rem;
		letter-spacing: .3rem;
	}
	.about {
		width: 80%;
		margin: 0 auto;
		flex-direction: row;
	}
	.about.img {
		max-width: 25%;
		max-height: 25%;
	}
	.about .about-info {
		width: 50%;
		text-align: left;
		padding-right: 5rem;
	}
	.projects .projects-header .projects-header-desc {
		max-width: 500px;
		padding-top: 20px;
		margin: 0 auto;
	}
	.projects .projects-info {
		flex-direction: row;
		width: 80%;
	}
	.projects .projects-info .project {
		margin: 0;
	}
	
	
	
/* End Media query for desktop and tab  */

/* Media Query For Desktop Only  */
@media only screen and (min-width: 1200px) {
	.nav-bar .brand img {
		width: 60px;
	}
	.hero .hero-info .hero-info-heading {
		font-size: 7rem;
		margin-left: 10%;
	}
	.hero .hero-info .hero-info-subheading {
		font-size: 1.7rem;
		letter-spacing: .6rem;
	}
}
.about .about-info .about-info-desc {
	font-size: 2rem;

}
.img{
	height: 350px;
}
.card img {
	height: 350px;
}

}
/* End Media Query For Desktop Only  */}